@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 2, 16);
    background-size: 100%;
    height: 100vh;
    color: white;

    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;

    font-size: 20px;
}

* {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 2, 16, 0.9);
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-content: center;

    row-gap: 5px;
    column-gap: 20px;
}

#settings p {
    align-content: center;
}

#settings h1 {
    margin-bottom: 5vh;
}

#settings.hidden {
    display: none;
}

p {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
}
button:not(.card) {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;

    background-color: transparent;
    border: 0;

    opacity: 1;

    border: 2px solid transparent;
    border-radius: 3px 0 3px 0;
    align-content: center;

    transition: opacity 0.2s;
}
button:not(.card):hover:not(:disabled) {
    border-color: #00eeff;
}
button:disabled {
    opacity: 0.1;
    cursor: default;

    transition: opacity 0.2s;
}

#lowerBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 30px 0 30px;
    row-gap: 2px;
    column-gap: 10px;

    width: auto;
    height: auto;
    margin: 0;
}
#lowerBar button {
    width: auto;
}
#lowerBar p {
    width: auto;
    margin: 0;
    align-content: center;
}
#volume {
    flex-grow: 1;
    width: 100px;
}
.break {
    flex-basis: 100%;
    height: 0;
}

.bigBreak {
    flex-basis: 100%;
    height: 8vh;
}
#score {
    font-size: 1.1em;
    font-weight: 500;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-self: center;

    flex-grow: 1;

    height: 5vh;
    width: auto;

    margin: 0;

    position: relative;
    background: linear-gradient(#fff, #fff) no-repeat center/2px 1.6rem;
}
body.singleplayer #score {
    background: linear-gradient(#fff, #fff) no-repeat right/2px 1.6rem;
}

#lowerBar.turn1 #p2Score,
#lowerBar.turn2 #p1Score,
#lowerBar.turn1 #p2ScoreLabel,
#lowerBar.turn2 #p1ScoreLabel,
#lowerBar.turn1 #p2ScoreValue,
#lowerBar.turn2 #p1ScoreValue {
    opacity: 0.1;
}

#scoreSpacer,
#p1Score,
#p2Score {
    flex-grow: 0;
    text-align: right;
    height: 0.5rem;
    transition: flex-grow 1s;
}
#scoreSpacer {
    background-color: transparent;
    flex-grow: 1;
}
#p1Score {
    background-color: #00eeff;
}
#p2Score {
    background-color: #fff700;
}
#turnValue,
#p1ScoreValue,
#p2ScoreValue {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    align-content: center;
    text-align: center;
}
@media only screen and (min-width: 600px) {
    #turnValue,
    #p1ScoreValue,
    #p2ScoreValue {
        min-width: 1.75em;
    }
}
#p1ScoreValue {
    color: #00eeff;
    padding-left: 5px;
}
#p2ScoreValue {
    color: #fff700;
    padding-right: 5px;
}

#lowerBar #flexSpacer {
    margin-left: -10px;
    width: 6px;
}
body.singleplayer #p1ScoreLabel,
body.singleplayer #p2ScoreValue,
body.singleplayer #p2ScoreLabel {
    display: none;
}
body:not(.singleplayer) #turnValue,
body:not(.singleplayer) #turnLabel {
    display: none;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 0.5rem;
    --sliderValue: 0.5;
    background: linear-gradient(
                90deg,
                #00eeff,
                #fff700 calc(100% / var(--sliderValue))
            )
            no-repeat,
        linear-gradient(90deg, #fff, #fff) no-repeat;
    background-position: 0.8rem, 0.8rem;
    background-size: calc(var(--sliderValue) * (100% - 1.6rem)) 100%,
        calc(100% - 1.6rem) 2px;
    margin: 0 -0.8rem 0 -0.8rem;
    outline: none;
    align-content: center;
    align-self: center;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    background-color: #fff;
    background: linear-gradient(#fff, #fff) no-repeat center/2px 1.6rem;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    background-color: #fff;
    background: linear-gradient(#fff, #fff) no-repeat center/2px 1.6rem;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

#gameArea {
    width: auto;

    min-height: 50vh;
    --max-height: 0.85;
    height: calc(var(--maxheight) * 100vh);
    display: flex;
    flex-flow: row wrap;
    justify-content: safe left;
    align-content: safe center;
    padding: 5px;
    padding-bottom: 2vh;
    --card-margin: 4px;

    --card-size: 5vw;
}

.card {
    width: var(--card-size);
    height: var(--card-size);
    margin: var(--card-margin);
    background-color: transparent;
    opacity: 0.5;
    border: 2px solid white;
    border-radius: 5px 0 5px 0;

    font-weight: 500;
    font-size: calc(var(--card-size) / 3);
    color: white;

    cursor: pointer;

    padding: 0;

    /*transition: all 0.3s;*/
}
.card:hover:not(.found) {
    opacity: 1;
    scale: 1.04;
    font-size: calc(var(--card-size) / 2.5);
    border-color: #00eeff;
    /*transition: all 0.1s;*/
}
.card:active:not(.found) {
    scale: 1.08;
    /*transition: all 0.1s;*/
}
.card.uncovered:not(.found) {
    border-style: solid;
    border-width: 2px;

    border-color: #00eeff;
    opacity: 1;

    font-size: calc(var(--card-size) / 3.5);

    /*transition: all 0.1s;*/
}
.card.uncovered.playing {
    border-color: #fff700;
    /*transition: all 0.1s;*/
}
.card.uncovered.playing.found,
.card.found {
    opacity: 1;

    border-style: solid;
    border-width: 2px;

    font-size: calc(var(--card-size) / 3);

    border-color: transparent;

    background: linear-gradient(black, black) padding-box,
        linear-gradient(90deg, #00eeff, #fff700) border-box;

    /*transition: all 0.1s;*/
}

.card.found:not(.uncovered) {
    opacity: 0.1;
    cursor: default;
}
